<footer class="site-footer h-card">
  <div id="logos">
    <a href="http://www.bacp.co.uk/" target="_blank"><img src="assets/bacp.gif" alt="BACP Logo" title="British Association of Counsellors and Psychotherapists" id="bacplogo"/></a>
    <a href="http://www.bacpregister.org.uk/public/" target="_blank"><img src="assets/190423_print_logo.jpg" alt="BACP Registered Member #190423" title="BACP Registered Member #190423" id="bacp"/></a>
  </div>
  </div>
  <div id="bottom">
    <p class="bottom-text">Alison Jackson BA (Hons), PGCE, Adv Dip Couns, Adv Dip Supervision</p>
  </div>
  </div>
  {% assign page_paths = "Home;About Cuthbert Counselling;Frequently Asked Questions;Sessions & Fees;What is Counselling;Supervision;Contact" | split: ';' %}
  <div id="bottom-nav">
    {%- for path in page_paths -%}
      <div class="nav-link{% if path == 'About Cuthbert Counselling' %} nav-link-current{% endif %}" href="/" title="Home">{{ path }}</a></div>
      {%- assign my_page = site.pages | where: "path", path | first -%}
      {%- if my_page.title -%}
      {%- endif -%}
      {%- endfor -%}
  </div>

</footer>
