<footer class="site-footer h-card">
  <div id="logos" class="edges">
    <a href="http://www.bacp.co.uk/" target="_blank"><img src="assets/bacp.gif" alt="BACP Logo" title="British Association of Counsellors and Psychotherapists" id="bacplogo"/></a>
    <a href="http://www.bacpregister.org.uk/public/" target="_blank"><img src="assets/190423_print_logo.jpg" alt="BACP Registered Member #190423" title="BACP Registered Member #190423" id="bacp"/></a>
  </div>
  </div>
  <div id="bottom">
    <p class="bottom-text">Alison Jackson BA (Hons), PGCE, Adv Dip Couns, Adv Dip Supervision</p>
  </div>
  </div>
  {% assign page_paths = "Home;About Cuthbert Counselling;Frequently Asked Questions;Sessions & Fees;What is Counselling;Supervision;Contact" | split: ';' %}
  <div id="bottom-nav">
    {% assign sorted_pages = site.pages | sort:"nav_order" %}
    {%- for p in sorted_pages -%}
    {%- if p.title -%}
      <div class="nav-link{% if p.title == page.title %} nav-link-current{% endif %}"><a href="{{ p.url }}" title="{{ p.title | escape }}">{{ p.title | escape }}</a></div>
    {%- endif -%}
    {%- endfor -%}
  </div>
</footer>
